%div#top-bar(data-sticky-container)
  .top-bar-container(data-sticky){data: { options: "marginTop:0;" }, style: "width:100%" }
    .top-bar(data-magellan){data: {'bar-offset': 200}}
      .top-bar-left
        .title
          %h1.top
            DSA Libertarian Socialist Caucus
          %h2.bottom
            Revolutionary Democratic Socialism
        %ul.horizontal.menu.links
          %li
            = link_to 'Home', '/index.html', class: "#{active[:index] ? 'active': ''}"
          %li
            = link_to 'Readings', '/readings.html', class: "#{active[:readings] ? 'active': ''}"
          %li
            = link_to 'Events', '/events.html', class: "#{active[:events] ? 'active': ''}"
          %li
            = link_to 'News', '/news.html', class: "#{active[:news] ? 'active': ''}"